body {
    background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
    width: 230x;
}

.maestro {
    color: red;
    font-size: 30px;
    font-family: Verdana;
}

.alumnoUno {
    color: violet;
    font-size: 20px;
    font-family: Arial;
}

/* COMIENZO DE CODIGO DE ALUMNOS */


/* CSS de Wendell Jarquin */

.datWendell {

    color: black;
    font-size: 20px;
    font-family: Arial;
}

.datWendell .miEdad {
    color: red;
    /* Cambio el color a rojo para la edad */
}

.datWendell .miCarrera {
    font-family: sans-serif;
    color: rgb(1, 139, 24);
    /* Cambio el color a rojo para la edad */
}

/* _______________________Final_________________________ */
.dataoscar {

    color: black;
    font-size: 20px;
    font-family: Arial;
}
.dataoscar .miEdad {
    color: rgb(229, 255, 0);
    /* Cambio el color amarillo para la edad */
}
.dataoscar .miApellidos {

    color: rgb(250, 10, 10);
    font-size: 20px;
    font-family: Arial;
}
.dataHarry .year {
    font-family: Arial;
}
.dataHarry .carrer {
    width: 40px;
    color: rgb(112, 59, 23)
}

.datanathalie {

    color: black;
;
}
.datanathalie .edadnathalie {
    color: yellow;
}
.datanathalie .nombresnathalie {

    color: violet;
}
.datanathalie .apellidosnathalie {

    color: violet;
}
h1 {
    color:black;
    font-family: system-ui;
}
/* _______________________Final_________________________ */